<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}chores.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <title>{% block title %}Chores!{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container">
        <header class="page-header">
        {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </div>
</body>
</html>


