{% extends "base.html" %}

{% block header %}
<h1>Chores! <small>Because <em>someone</em> needs to do it</small></h1>
{% endblock %}

{% block content %}
<div id="actions">
    <p>You've done something?<p>
    <a class="btn primary large">Record it!</a>
</div>
{% if players %}
<h2>Leaderboards</h2>
    <table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Points</th>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <td>{{ player.user.username }}</td>
            <td>{{ player.points }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if recently_completed %}
<h2>Recent chores completed</h2>
    <ul>
        {% for chore in recently_completed %}
            <li>{{ chore }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
