{% extends "base.html" %}

{% block header %}
<h1>Chores! <small>Because <em>someone</em> needs to do it</small></h1>
{% endblock %}

{% block content %}
<div id="actions">
    <div id="prompt" class="collapse in">
        <p>You've done something?<p>
        <button class="btn primary large" data-toggle="collapse" data-target=".collapse">Record it!</button>
    </div>
    <div id="form" class="collapse">
        <form class="form-horizontal" action="/complete/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn primary" type="submit">Submit</button>
            <a class="btn" data-toggle="collapse" data-target=".collapse">Cancel</a>
        </form>
    </div>
</div>
{% if players %}
<h2>Leaderboards</h2>
    <table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Points</th>
    </thead>
    <tbody>
    {% for player,pts in players %}
        <tr>
            <td>{{ player.user.first_name }}</td>
            <td><div class="progress striped active danger"><div class="bar" style="width:{{ pts }}%;"></div></div></td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if recently_completed %}
<h2>Recent chores completed</h2>
    <ul>
        {% for chore in recently_completed %}
            <li>{{ chore }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
